// Project manifest
manifest {
    name = 'test-workflow'
    description = 'Simple test workflow that runs multiple parallel jobs'
    version = '1.0.0'
    mainScript = 'main.nf'
}

// Parameters with defaults
 params {
      greeting = "Testing"
      name = "GitHub"       // Duration per job in seconds
      count = 2
  }

// Basic configuration
process {
    cpus = 1
    memory = '1 GB'
    container = '535002863113.dkr.ecr.us-east-1.amazonaws.com/dlay/ubuntu:latest'
}
